<navbar></navbar>
<article class="jumbotron container">
  <h1>Edit your profile</h1>
  <form class="container" ng-init="UpdateUserForm" ng-submit="updateUserProfile()">
    <label class="col-xs-4">Email: </label>
    <input class="col-xs-4 form-control" type="text" placeholder="{{user_info.email}}" ng-model="UpdateUserForm.email" >
    <label class="col-xs-4">First Name: </label>
    <input class="col-xs-4 form-control" type="text" ng-model="UpdateUserForm.first_name" placeholder="{{user_info.first_name}}">
    <label class="col-xs-4">Surname: </label>
    <input class="col-xs-4 form-control" type="text" ng-model="UpdateUserForm.last_name" placeholder="{{user_info.last_name}}">
    <label class="col-xs-4">Phone: </label>
    <input class="col-xs-4 form-control" type="text" ng-model="UpdateUserForm.phone_number" placeholder="{{user_info.phone_number}}">
    <button id="submit_btn" class="btn btn-danger center-block form-control" type="submit">Update Profile</button>
  </form>
</article>