<navbar></navbar>
<article class="jumbotron text-center">
  <h2>Hello, {{UserServices.user.first_name}}!</h2>
  Here is your account information:

  <h2>Let's create a session:</h2>
  <p>Select from the following fields of</p>
  <form>
    <label>Select Industry:</label><br>
    <!-- ng-model will reference this dropdown selection value -->
    <!-- ng-change -->
    <select ng-model="industry" ng-change="industry_selection = industry">
      <option ng-repeat="industry in industries track by $index">{{industry}}</option>
    </select><br>

    <label>Select Company:</label><br>
    <select ng-model="company" ng-change="company_selection = company">
      <option ng-repeat="service in services | filter: industry_selection | unique: 'company_name'">{{service.company_name}}</option>
    </select><br>

    <label>Select Service:</label><br>
    <select ng-model="service" >
      <option ng-repeat="service in services | filter: company_selection">{{service.service_name}}</option>
    </select><br>

    <button type="submit" ng-click="createSession(service)">Submit</button> 
  </form>
</article>

<article>

</article>