<!-- Users should be able to read up on FAQs on commonly asked questions -->
<navbar></navbar>
<div class="container jumbotron">
  <header class="">  
    <h1>Frequently Asked Questions</h1>
    <p>You got questions? We'll try to answer them.</p>
  </header>
  <article>
    <ul>
        <li>
          <h3>What if I don't make it to my appointment before the timer is up?</h3>
          <p>You are allowed a 5 minute grace period. Then your spot will be given to the next person in line.</p>
        </li>
        <li>
          <h3>I don't want to cancel my queue spot</h3>
          <p>Go to your 'My Queues' dashboard and select cancel to remove your spot form the queue. (WARNING: this action is irreversible)</p>
        </li>
        <li>
          <h3>Why is my wait time for a queue session increasing on its own?</h3>
          <p>This means that the session ahead of you is taking longer than usual and is automatically updated. Not all appointments are created equal, after all.</p>
        </li>
        <li>
          <h3>Why do you need my telephone and email information?</h3>
          <p>This is ONLY for AirQ's use only. We will not sell or share your information, nor will we ever send you spam emails, because we hate those too. :-)</p>
        </li>
    </ul>
  </article>
</div>