<navbar></navbar>

<div class="container">
  <div class="row col-md-12">
    <img class="col-md-12" src="<%= asset_path('queue2.jpg') %>" alt="Hate waiting in line?">
    <header id="main_text" class="text-center col-md-12" >
      <strong><h1> Waiting in line sucks. Let us do it for you.</h1></strong>
      <button class="btn btn-success" ng-click="">Learn more</button>
    </header>
  </div>    
  <div class="row jumbotron ">
    
    <article class="col-md-5">
      <h2>User Signup</h2>
      <p>Instead of standing in line all day, wouldn't you rather have a cup of coffee?</p>
      <p>sign up as our user</p>
      <button class="btn btn-success" ng-click="">User Signup</button>
    </article>
    <div class="col-md-2"></div>
    <article class="col-md-5">  
      <h2>Business Signup</h2>
      <p>If time is money, then your customers will definitely appreciate a faster and convenient way of doing business with you.</p>
      <p>sign up as a business user</p>
      <button class="btn btn-success" ng-click="">Business Signup</button>
    </article>
  </div>
</div>