<!-- Users should be able to learn more about AirQ features without signing in. -->

<header>
  <h1>How-to Guide on Using AirQ Queunig</h1>
  <p>Wait no more, wait no more...</p>
</header>

<article>
  <h3>1. Find the service for which you want to "stand" in line for</h3>
  <p>We have a very expansive network of services for you to choose from. Want to queue for a doctor's appointment? Want to see a banking representative? Hate waiting in line for processing government documents? Anywhere that requires a queue.</p>

  <p>Once you have an account and have signed in, go to 'My Queues' and select the industry, company, and service you wish to wait in line for, in that order. Below you will see a table of the services you want under a company for a specific industry.</p> 
</article>

<article>
  <h3>2. Save your spot in line.</h3>
  <p>Once you have all the fields filled out, you should be selecting only one service. Click on the submit button to proceed and create a new service queue session! Now you are officially queuing virtually, but physically free to do what you want. If you change your mind, just click 'cancel' to remove your spot from the queue.</p>
  <p>Note on cancelling: If someone ahead of you missed their session, you will have the option to take his/her spot.</p>
</article>

<!-- <article>
  <h3>3. Request to swap your spot in line</h3>
  <p>Life is unpredictable. We get it. It would be frustrating to lose your queue spot because you were a minute or two off the clock. If you think you will be late, you have the option to </p>
</article> -->

<article>
  <h3>3. Show up to your appointment</h3>
  <p>You didn't really think we would also step in to complete your appointment, did you? You have to show up for yourself. Try to be there within 5 minutes. Otherwise, someone will take your slot and your slot will be cancelled. Sorry about that. It's only fair. </p>
  <p>So go to your appointment and change the world!</p>
</article>