<!-- Users should be able to learn more about AirQ features without signing in. -->

<header>
  <h1>How-to Guide on Using AirQ Queuing</h1>
  <p>Wait no more, wait no more...</p>
</header>

<article>
  <h3>1. Find the service for which you want to "stand" in line for</h3>
  <p>We have a very expansive network of services for you to choose from. Want to queue for a doctor's appointment? Want to see a banking representative? Hate waiting in line for processing government documents? Anywhere that requires a queue.</p>

  <p>Once you have an account and have signed in, go to 'My Queues' and select the industry, company, and service you wish to wait in line for, in that order. Below you will see a table of the services you want under a company for a specific industry.</p> 
</article>

<article>
  <h3>2. Save your spot in line.</h3>
  <p>Once you have all the fields filled out, you should be selecting only one service for</p>
</article>