/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap/dist/css/bootstrap
 *= require_tree .
 *= require_self
 */

body{
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 50px;
  background-color: #241D16;
}

.navbar-right{
  font-size: 16px;
}

#logo{
  width:23px;
  display: inline-block;
  height: 100%;
}

#main_text{
  position: absolute;
  top: 50%;
  color: #FFC900;
  font-weight: bolder;
}

img.col-md-12{
  padding: 0px;
}